#root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  /* font-family: "Roboto", serif; */
  font-family: sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #000;
  background-color: #FFFFFF;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh !important;
  width: 100vw !important;
  padding: 0px !important;
  margin: 0px !important;
  overflow: hidden;
}

html {
  font-size: 100%; /* 16px mặc định */
}

@media (max-width: 768px) {
  html {
    font-size: 80%; /* Giảm xuống 14.4px */
  }
}

@media (max-width: 480px) {
  html {
    font-size: 60%; /* Giảm xuống 12.8px */
  }
}

body {
  height: 100vh !important;
  width: 100vw !important;
  padding: 0px !important;
  margin: 0px !important;
  overflow: hidden;
  font-size: 1rem;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}